<html>
<head>
<title>activity_blood_requests.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_blood_requests.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Blood Requests&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:drawableStart</span><span class="s2">=&quot;@drawable/group&quot;</span>
        <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/clip_path_group__8_&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">/&gt;</span>


    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:weightSum</span><span class="s2">=&quot;3&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;12&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#D32F2F&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Pending&quot;</span>
                 <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;60dp&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;8&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFA000&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;In Progress&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;80dp&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;45&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#388E3C&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Completed&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;70dp&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>


    <span class="s0">&lt;ScrollView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;• BL-2024-001&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Pending&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#5F5656&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:paddingTop</span><span class="s2">=&quot;4dp&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;John Smith&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView </span><span class="s1">android:text</span><span class="s2">=&quot;Cardiac Unit&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
                    <span class="s0">/&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:paddingTop</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;TextView </span><span class="s1">android:text</span><span class="s2">=&quot;2h ago&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;70dp&quot;</span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;A+&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;30dp&quot;</span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView </span><span class="s1">android:text</span><span class="s2">=&quot;2 units needed&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>
                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4CAF50&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Approve&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#E0E0E0&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Reject&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>


            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;• BL-2024-002&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;In Progress&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#5F5656&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:paddingTop</span><span class="s2">=&quot;4dp&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Sarah Johnson&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView </span><span class="s1">android:text</span><span class="s2">=&quot;Emergency&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;90dp&quot;</span><span class="s0">/&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:paddingTop</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;TextView </span><span class="s1">android:text</span><span class="s2">=&quot;3h ago&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;O-&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot;</span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView </span><span class="s1">android:text</span><span class="s2">=&quot;1 units needed&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>
                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>


                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4CAF50&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Approve&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#E0E0E0&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Reject&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot; </span><span class="s0">/&gt;</span>



                                <span class="s0">&lt;/LinearLayout&gt;</span>

                            <span class="s0">&lt;/LinearLayout&gt;</span>


                        <span class="s0">&lt;/LinearLayout&gt;</span>

                    <span class="s0">&lt;/ScrollView&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>