<html>
<head>
<title>activity_admin_dashboard.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_admin_dashboard.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;ScrollView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Admin Dashboard&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/group&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Blood Link Management&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#888888&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>


        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
            <span class="s1">android:weightSum</span><span class="s2">=&quot;3&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;#FFF1F1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;1dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;10dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:drawableStart</span><span class="s2">=&quot;@drawable/clip_path_group__4_&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;2,456&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;70dp&quot;</span>
                    <span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;89dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Active Donors&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;#EAF4FF&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:drawableStart</span><span class="s2">=&quot;@drawable/clip_path_group__5_&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;1,892&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;89dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Active Donors&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;#FFF8E1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:drawableStart</span><span class="s2">=&quot;@drawable/clip_path_group__6_&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;48&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Pending&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>


        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Quick Actions&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;130dp&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;GridLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:columnCount</span><span class="s2">=&quot;2&quot;</span>
            <span class="s1">android:rowCount</span><span class="s2">=&quot;2&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Add Blood Unit&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#F44336&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFF&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:drawableTop</span><span class="s2">=&quot;@drawable/clip_path_group&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Manage Requests&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#2196F3&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFF&quot;</span>
                <span class="s1">android:drawableTop</span><span class="s2">=&quot;@drawable/clip_path_group__1_&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Contact Donor&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4CAF50&quot;</span>
                <span class="s1">android:drawableTop</span><span class="s2">=&quot;@drawable/clip_path_group__2_&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFF&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Donation History&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#9C27B0&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFF&quot;</span>
                <span class="s1">android:drawableTop</span><span class="s2">=&quot;@drawable/clip_path_group__3_&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/GridLayout&gt;</span>

        <span class="s4">&lt;!-- Recent Activities --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Recent Activities&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>

            <span class="s4">&lt;!-- Example Recent Activity --&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;New blood donation received - 10 min ago&quot;</span>
                <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/vector__1_&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#EDEDED&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;6dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Emergency blood request - 25 mins ago&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#EDEDED&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/vector__2_&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;6dp&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Low stock alert for O- - 1 hour ago&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#EDEDED&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/vector__3_&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;6dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Scheduled donation completed - 2 hours ago&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#EDEDED&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;6dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
                <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/vector__1_&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s4">&lt;!-- Critical Alerts --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Critical Alerts&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Need O- at Central Hospital - 15 mins ago&quot;</span>
            <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#FFEBEE&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;6dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;ScrollView</span>
            <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">/&gt;</span>

            <span class="s4">&lt;!-- Use a container like LinearLayout or ConstraintLayout inside --&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/ScrollView&gt;</span>

</pre>
</body>
</html>